.header {
  position: relative;
  z-index: 1;
  height: 80px;
  width: 100%;

  .nav-bar {
    background-color: $white;
    padding-top: 17px;
    padding-bottom: 17px;

    .logo {
      img {
        width: 163px;
        height: 18px;
      }
    }
    .ham {
      padding-top: 0px;
      padding: 0px;
      cursor: pointer;
      float: right;
    }

    .bar1,
    .bar2,
    .bar3 {
      display: block;
      border-radius: 1.5px;
      width: 20px;
      height: 3px;
      margin: 5px auto;
      background-color: #101010;
      transition: 0.4s;
    }
    .overlay {
      display: none;
    }

    .menu {
      width: 100%;
      opacity: 1;
      position: fixed;
      top: 102px;
      width: 375px;
      height: 577px;
      background: linear-gradient(
        180deg,
        #fefcf7 55.94%,
        rgba(254, 252, 247, 0.504981) 85%
      );
      transform: matrix(1, 0, 0, -1, 0, 0);
      font-size: 12px;
      align-items: center;
      transform: translateX(-50%);
      padding: 26px;
      color: #333d4b;
      a {
        text-decoration: none;
        display: block;
        padding: 10px;
        color: $darkBlue;
        text-align: center;
        font-family: Fraunces;
        font-weight: 900;
        font-size: 26px;
        line-height: 42px;
      }
    }

    .nav-change {
      transform: translate(0%);
    }

    .ham {
      display: block;
    }
    .change .bar1 {
      transform: rotate(45deg) translate(8px, 3px);
    }
    .change .bar2 {
      opacity: 0;
    }
    .change .bar3 {
      transform: rotate(-45deg) translate(8px, -3px);
    }
  }
}
