html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  color: #9698a6;
  font-family: barlow;
  line-height: 1.3;
}

.wrapper {
  padding: 24px 24px;
}

.container {
  margin: 0 auto;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 1;
  height: 80px;
  width: 100%;
}

.header .nav-bar {
  background-color: white;
  padding-top: 17px;
  padding-bottom: 17px;
}

.header .nav-bar .logo img {
  width: 163px;
  height: 18px;
}

.header .nav-bar .ham {
  padding-top: 0px;
  padding: 0px;
  cursor: pointer;
  float: right;
}

.header .nav-bar .bar1,
.header .nav-bar .bar2,
.header .nav-bar .bar3 {
  display: block;
  border-radius: 1.5px;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  background-color: #101010;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .nav-bar .overlay {
  display: none;
}

.header .nav-bar .menu {
  width: 100%;
  opacity: 1;
  position: fixed;
  top: 102px;
  width: 375px;
  height: 577px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55.94%, #fefcf7), color-stop(85%, rgba(254, 252, 247, 0.504981)));
  background: linear-gradient(180deg, #fefcf7 55.94%, rgba(254, 252, 247, 0.504981) 85%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 26px;
  color: #333d4b;
}

.header .nav-bar .menu a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #2d314d;
  text-align: center;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
}

.header .nav-bar .nav-change {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.header .nav-bar .ham {
  display: block;
}

.header .nav-bar .change .bar1 {
  -webkit-transform: rotate(45deg) translate(8px, 3px);
          transform: rotate(45deg) translate(8px, 3px);
}

.header .nav-bar .change .bar2 {
  opacity: 0;
}

.header .nav-bar .change .bar3 {
  -webkit-transform: rotate(-45deg) translate(8px, -3px);
          transform: rotate(-45deg) translate(8px, -3px);
}

.hero {
  position: relative;
}

.coffee-image img {
  width: 100%;
  border-radius: 8px;
}

.Coffee-section {
  position: absolute;
  top: 132px;
  left: 0px;
  right: 0px;
  text-align: center;
}

.Coffee-section h3 {
  margin: 0px;
  font-family: Fraunces;
  font-size: 47px;
  line-height: 40px;
  text-align: center;
  color: #fefcf7;
}

.Coffee-section p {
  padding-top: 20px;
  height: 101px;
  color: #fefcf7;
  font-family: Barlow;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  opacity: 0.7;
}

.Coffee-section .createplan-button {
  margin-top: 40px;
  width: 217px;
  height: 56px;
  color: #fefcf7;
  background-color: #0e8784;
  border-radius: 10px;
  font-family: Fraunces;
  font-size: 18px;
}

.our-collection {
  margin-top: 120px;
}

.flexbox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 48px;
}

.flexbox-item h2 {
  font-family: Fraunces;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 24px;
  color: #333d4b;
}

.flexbox-item p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #333d4b;
  font-size: 20px;
}

.choose-section {
  background-image: url("/Images/Bitmap (3).png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 902px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose-section h3 {
  padding-top: 64px;
  padding-bottom: 24px;
  text-align: center;
  color: #fefcf7;
  font-size: 35px;
  font-family: Fraunces;
}

.choose-section p {
  width: 300px;
  line-height: 25px;
  font-size: 16px;
  color: #fefcf7;
  text-align: center;
  opacity: 0.8;
}

.choose-section .flexbox-item {
  margin-top: 36px;
  margin-bottom: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose-section .flexbox-item .quality {
  position: absolute;
}

.choose-section .flexbox-item .quality h3 {
  font-size: 24px;
  padding-bottom: 0px;
}

.choose-section .flexbox-item .quality p {
  font-size: 16px;
  width: 212px;
}

.pick-coffee-section {
  margin-top: 710px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pick-coffee-section .flexbox-item {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 56px;
}

.pick-coffee-section .flexbox-item h3 {
  font-size: 28px;
  font-family: Fraunces;
  margin: 24px;
}

.pick-coffee-section .flexbox-item p {
  font-size: 15px;
}

.pick-coffee-section .flexbox-item .plan-button {
  width: 217px;
  height: 56px;
  color: #fefcf7;
  background-color: #0e8784;
  border-radius: 10px;
  font-family: Fraunces;
  font-size: 18px;
}

.footer-section {
  padding: 34px;
  background-image: url(/Images/Mask.svg);
  height: 346px;
}

.footer-section .footer-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-section .footer-contain img {
  margin-bottom: 49px;
}

.footer-section .footer-contain a {
  text-decoration: none;
  text-align: center;
  display: block;
  margin-bottom: 24px;
  line-height: 15px;
  font-weight: bold;
  color: #83888f;
  font-size: 14px;
}

.footer-section .footer-contain .icon {
  display: inline-block;
  margin-top: 50px;
}

.footer-section .footer-contain .icon img {
  margin-right: 24px;
}

.footer-section .footer-contain .icon .last-image {
  margin-right: 0px;
}
/*# sourceMappingURL=style.css.map */