.wrapper {
    padding: 24px 24px;
}

.create-plan {
    background-image: url(/Images/mobile-plan-coffee.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    @media screen and (min-width: 768px) {
        background-image: url(/Images/Tablet-plan-coffee.png);
    }
    @media screen and (min-width: 1200px) {
        background-image: url(/Images/desktop-plan-coffee.png);
        background-size: contain;
        height: 983px;
    }
    .create-plan-banner {
        padding: 101px 24px;
        h3 {
            font-family: Fraunces;
            font-size: 40px;
            text-align: center;
            color: #fefcf7;
        }
        p {
            font-size: 15px;
            width: 279px;
            line-height: 25px;
            text-align: center;
            color: #fefcf7;
            opacity: 0.8;
        }
    }
}

.create-plan-pick-coffee {
    background-color: #2c343e;
    height: 1028px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .flexbox-wrapper {
        .flexbox-item {
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            margin-bottom: 56px;
            justify-content: center;
            text-align: center;
            align-items: center;
            img {
                width: 90px;
                height: 72px;
            }
            h3 {
                color: #ffffff;
                font-size: 28px;
                font-family: Fraunces 9pt;
                margin: 24px;
            }
            p {
                color: #ffffff;
                font-size: 15px;
            }
        }
    }
}